<!-- Hero Section -->
<div class="container-fluid-black bg-primary-black text-white py-4">
  <div class="container" style="background-color: #488140;">
    <div class="row align-items-center">
      <!-- Columna de texto -->
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold mb-4">👹Pokemon👹 </h1>
        <p class="lead mb-4">Aquí verás tus pokemones más poderosos.👽</p>
      </div>
      <!-- Columna de imagen -->
      <div class="col-lg-6 text-center mt-4 mb-4">
        <img src="https://media1.tenor.com/m/RsKp5UX6YgYAAAAC/fruitchive-eliosgifs.gif" alt="Gif de personajes" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid-black bg-primary-black text-white py-4">
  <div class="container" style="background-color: #23a1c0;">
    <div class="row align-items-center">
      <!-- Columna de texto -->
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold mb-4">🌎Dragon Ball Z🌎 </h1>
        <p class="lead mb-4">Verás información del mundo de Dragon Ball Z.🐲</p>
      </div>
      <!-- Columna de imagen -->
      <div class="col-lg-6 text-center mt-4 mb-4">
        <img src="https://media1.tenor.com/m/q71wVguzAgEAAAAd/beastgohan-gohanbeast.gif" alt="Gif de personajes" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid-black bg-primary-black text-white py-4">
  <div class="container" style="background-color: #a53d3d;">
    <div class="row align-items-center">
      <!-- Columna de texto -->
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold mb-4">🍾Cocteles🍾</h1>
        <p class="lead mb-4">Aquí descubrirás toda la información importante para que prepares los mejores cocteles, y la pases de lo mejor.🍾</p>
      </div>
      <!-- Columna de imagen -->
      <div class="col-lg-6 text-center mt-4 mb-4">
        <img src="https://media1.tenor.com/m/H6WQlFrk8xEAAAAC/blah-music.gif" alt="Gif de personajes" class="img-fluid">
      </div>
    </div>
  </div>
</div>



  
  <!-- Footer -->
  <footer class="bg-dark text-white py-4 mt-5">
    <div class="container text-center">
      <p class="mb-0">
        © 2025 JHON QUIÑONEZ / ANGULAR / BOOTSTRAP
      </p>
    </div>
  </footer>
  